[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
nltk = "*"
fastapi = "*"
uvicorn = "*"
joblib = "*"
requests = "*"
python-dotenv = "*"
json5 = "*"
thefuzz = "*"
pyspellchecker = "*"
argostranslate = "*"
langid = "*"
transformers = "*"
sentencepiece = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
